.movieCard{
   width: 30%;
   height: 30%;
   cursor: pointer;
   padding: 10px;
   float: left;
}

.movieInfo {
    float: left;
}

.movieAllInfo {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.movieYear {
  float: right;
  padding-top: 10px;
}

.moviePoster{
border-radius: 8px;
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
}

.movieCount{
  padding: 10px;
  font-size: large;
}

.moviesList{
  overflow: hidden;
}

.threeDots{
  border-radius: 8px;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 70%;
  margin-bottom: -50px;
}

.contextMenu{
    position: relative;
    color: white;
    background-color: #424242;
    text-align: right;
    width: 30%;
    height: 50%;
    margin-right: 20%;
    float:right;
}

.contextMenuClose {
    cursor: pointer;
}

.contextMenuItem {
  text-align: left;
  cursor: pointer;
}

.contextMenuItem:hover {
    background-color: #F65261;
}

.movieReview {
padding: 10px;
display: grid;
}

.movieReviePoster{
float: left;
padding : 10px;
}

.redText{
 color: #F65261;
 margin-right: 30px;
}

.greenText{
 color: green;
 margin-left: 30px;
}

.movieReviewOverview{
padding-right: 70px;
}
